body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 90%;
    text-align: center;
}

header {
    height: 69px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: black;
    border-bottom: 1px solid seashell;
    opacity: 0.9;
    width: 100%;
}

header img {
    height: 50px;
    display: inline-block;
    position: fixed;
    left: 10px;
    top: 9px;
}

header ul {
    margin-left: 900px;
}

header ul li {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;

}

header ul li a {
    color: seashell;
    text-decoration: underline;
}

.mission {
        height: 700px;
        width: 1200px;
        background-image: url("img-mission-background.jpg");
        display: inline-flex;
        justify-content: center;
        align-content: center;
}

.missiontext {
    background-color: black;
    height: 90px;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.missiontext h2 {
    background-color: black;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.missiontext h4 {
    background-color: black;
    width: 100%;
    align-content: center;
    margin: auto;
    padding-bottom: 15px;
}

.totmpictures {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 1000px;
}


.pic1 img {
    max-height: 200px;
    max-width: 300px;
    padding: 10px;
}

.pic1 h4 {
    margin: 10px;
}

.pic2 img {
    max-height: 200px;
    max-width: 300px;
    padding: 10px;
}
.pic2 h4 {
    margin: 10px;
}

.pic3 img {
    max-height: 200px;
    max-width: 300px;
    padding: 10px;
}
.pic3 h4 {
    margin: 10px;
}

.pic4 img {
    max-height: 200px;
    max-width: 300px;
    padding: 10px;
}

.pic4 h4 {
    margin: 10px;
}

.pic5 img {
    max-height: 200px;
    max-width: 300px;
    padding: 10px;
}

.pic5 h4 {
    margin: 10px;
}


.locations {
    height: 500px;
    width: 1200px;
    background-image: url("img-locations-background.jpg");
    display: inline-flex;
    justify-content: center;

    align-content: center;
    flex-wrap: wrap;
}

.locations h2 {
    width: 100%;
}

.loc1 {
    background-color: black;
    opacity: 1;
    width: 300px;
    margin-right:40px;

}

.loc2 {
    background-color: black;
    opacity: 1;
    width: 300px;
    margin-right:40px;

}

.loc3 {
    background-color: black;
    opacity: 1;
    width: 300px;

}

footer {
    display: flex;
}

footer h5 {
    margin: 20px;
}